<div ng-app="userApp" ng-controller="ListCtrl">
  <div class="page-header">
    <h1>Users</h1>
  </div>
  <script type="text/ng-template" id="list.html">
    <form class="form-inline" role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="search" placeholder="Search" ng-model="query">
      <label for="orderProp">Order by:</label>
      <select class="form-control" ng-model="orderProp" name="orderProp">
        <option value="name">Name</option>
        <option value="last_name">Last Name</option>
        <option value="created_at">Creation Date</option>
      </select>
    </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users | filter:query | orderBy:orderProp">
        <td>{{user.name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.birth_date}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone_number}}</td>
        <td>{{user.created_at}}</td>
        <td>
          <a href="#/users/{{user.id}}/edit" class="btn btn-mini">Edit</a>
          <a ng-click="deleteUser(user.id)" class="btn btn-mini btn-danger">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>

    <a href="#/new" class="btn btn-primary">New</a>
  </div>
  </script>

  <script type="text/ng-template" id="show.html">
      <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt>
        <dd>{{user.name}}</dd>
        <dt><strong>Last Name:</strong></dt>
        <dd>{{user.last_name}}</dd>
        <dt><strong>Birth Date:</strong></dt>
        <dd>{{user.birth_date}}</dd>
        <dt><strong>Address:</strong></dt>
        <dd>{{user.address }}</dd>
        <dt><strong>Phone number:</strong></dt>
        <dd>{{user.phone_number }}</dd>
      </dl>

      <div class="form-actions">
        <a ng-click="cancel()" href="#/users" class="btn">Back</a>
        <a ng-click="editUser(user.id)" href="#/users/{{user.id}}/edit" class="btn">Edit</a>
        <a ng-click="deleteUser(user.id)" href="#/users/{{user.id}}" class="btn btn-danger">Delete</a>
      </div>
  </script>

  <script type="text/ng-template" id="form.html">
      <form action="" class="form-horizontal">
        <div class="control-group">
          <label for="name" class="control-label">Name</label>
          <div class="controls">
            <input type="text" name="name" ng-model="user.name" class="text_field"/>
          </div>
        </div>
        <div class="control-group">
          <label for="last_name" class="control-label">Last Name</label>
          <div class="controls">
            <input type="text" name="last_name" ng-model="user.last_name" class="text_field"/>
          </div>
        </div>
        <div class="control-group">
          <label for="birth_date" class="control-label">Birth date</label>
          <div class="controls">
            <input type="text" name="birth_date"  ng-model="user.birth_date" class="text_field"/>
          </div>
        </div>
        <div class="control-group">
          <label for="address" class="control-label">Address</label>
          <div class="controls">
            <input type="text" name="address" ng-model="user.address" class="text_field"/>
          </div>
        </div>
        <div class="control-group">
          <label for="phone_number" class="control-label">Phone number</label>
          <div class="controls">
            <input type="text" name="phone_number" ng-model="user.phone_number" class="text_field"/>
          </div>
        </div>
      </form>
  </script>

  <script type="text/ng-template" id="new.html">
    <ng-include src="'form.html'"></ng-include>
    <div class="form-actions">
        <input ng-click="createNewUser()" type="submit" class="btn btn-primary" value="Create" />
        <a href="#/users" class="btn">Cancel</a>
    </div>
  </script>

  <script type="text/ng-template" id="edit.html">
    <ng-include src="'form.html'"></ng-include>
    <div class="form-actions">
        <input ng-click="updateUser()" type="submit" class="btn btn-primary" value="Edit" />
        <a href="#/users" class="btn">Cancel</a>
    </div>
  </script>

  <div ng-view>
  </div>

</div>
